<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swu.aos_init">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_init"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_init_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AOS_inIT"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.mypage.MyPageJoinActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageWaitActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageUploadActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageZzimActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageSettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.home.write.WriteProjectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.sign.signin.SignInActivity" />
        <activity
            android:name=".presentation.ui.sign.signup.SignUpActivity"
            android:exported="true" />
        <activity android:name=".presentation.ui.home.recommend.HomeRecommendActivity" />
        <activity android:name=".presentation.ui.feed.write.WritingFeedActivity"
            android:exported="true"/>

    </application>

</manifest>